<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SanaPrakt1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="title">
                Sana Prakt 1
            </div></>
        </div>
    </header>

    <div class="container main-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="copyright">
                &copy; 2023 - DarkElf
            </div>
        </div>
    </footer>
</body>
</html>
